* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 40px;
}

.menu-item {
    border: 1px solid black;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}

.menu-item > .title {
    font-size: 1.5em;
    font-weight: bold;
    width: 100px;
    text-align: center;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

.menu-item > .descritption {
    padding: 10px;
    clear: right;
}

#item1 {
    background-color: antiquewhite;
}

#item2 {
    background-color: lightblue;
}

#item3 {
    background-color: lightseagreen;
}

#item1 > .title {
    background-color: blueviolet;
    color: white;
}

#item2 > .title {
    background-color: darkgreen;
    color: white;
}

#item3 > .title {
    background-color: darkblue;
    color: white;
}

@media (min-width: 992px) {
    .menu-item {
        width: calc(33.33% - 20px);
        max-width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-item {
        width: calc(50% - 20px);
    }
    .menu-item:last-child.menu-item:nth-child(odd) {
        width: calc(100% - 20px);
    }
}